trigger:
  batch: true
  branches:
    include:
    - main
    - release/*

pr:
  branches:
    include:
    - main
    - release/*

variables:
  - name: Codeql.Enabled
    value: true

  - name: defaultPoolName
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      value: $[replace(replace(eq(contains(coalesce(variables['System.PullRequest.TargetBranch'], variables['Build.SourceBranch'], 'refs/heads/main'), 'release'), 'true'), True, 'NetCore-Svc-Public' ), False, 'NetCore-Public')]
    ${{ if eq(variables['System.TeamProject'], 'internal') }}:
      value: $[replace(replace(eq(contains(coalesce(variables['System.PullRequest.TargetBranch'], variables['Build.SourceBranch'], 'refs/heads/main'), 'release'), 'true'), True, 'NetCore1ESPool-Svc-Internal'), False, 'NetCore1ESPool-Internal')]

  - name: defaultPoolDemandsLinux
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      value: ImageOverride -equals Build.Ubuntu.1804.Amd64.Open
    ${{ if eq(variables['System.TeamProject'], 'internal') }}:
      value: ImageOverride -equals Build.Ubuntu.1804.Amd64

  - name: defaultPoolDemandsWindows
    ${{ if eq(variables['System.TeamProject'], 'public') }}:
      value: ImageOverride -equals 1es-windows-2022-open
    ${{ if eq(variables['System.TeamProject'], 'internal') }}:
      value: ImageOverride -equals 1es-windows-2022


stages:
- stage: build
  displayName: Build
  jobs:
  - job: Linux
    pool:
      name: ${{ variables.defaultPoolName }}
      demands: ${{ variables.defaultPoolDemandsLinux }}
    steps:
    - template: /eng/common/templates/steps/source-build.yml

    - script: $(Build.SourcesDirectory)/test.sh
      displayName: Run Tests
    
    - task: PublishTestResults@2
      displayName: Publish Test Results
      inputs:
        testResultsFormat: 'xUnit'
        testResultsFiles: '**/artifacts/TestResults/Debug/*.xml'
        testRunTitle: 'Linux_SBRP_tests'
      condition: always()


  ## The job below is a temporary workaround for running the tests on Windows.
  ## Currently, the source-build-reference-packages repository does not support building on Windows, but it is capable of running the generate tooling tests on Windows.
  ## This job should be modified once the source-build-reference-packages repository supports building on Windows by transitioning to the template above.
  - job: Windows
    pool:
      name: ${{ variables.defaultPoolName }}
      demands: ${{ variables.defaultPoolDemandsWindows }}
    steps:
    - checkout: self
      clean: true
  
    - script: $(Build.SourcesDirectory)/test.cmd
      displayName: Run Tests
  
    - task: PublishTestResults@2
      displayName: Publish Test Results
      inputs:
        testResultsFormat: 'xUnit'
        testResultsFiles: '**/artifacts/TestResults/Debug/*.xml'
        testRunTitle: 'Windows_SBRP_tests'
      condition: always()

# Based on - https://github.com/dotnet/arcade/blob/9b3f304c7bc9fd4d11be9ca0b466b83e98d2a191/Documentation/CorePackages/Publishing.md#moving-away-from-the-legacy-pushtoblobfeed-task
- ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
  - template: /eng/common/templates/post-build/post-build.yml
    parameters:
      publishingInfraVersion: 3
      publishAssetsImmediately: true
      enableSourceLinkValidation: false
      #Nuget and Signing Validation are not needed as we only produce a transport package.
      enableSigningValidation: false
      enableNugetValidation: false

